include segmentos/header.pug
if err
    section#error
        h2 Ha habido un error
            p Por favor informe al administrador (o sea Alejo Corredor)
            h3 El error:
            p #{err}
else
    #info_usuario.tarjeta_resumen
        h2 Buenos días #{usuario.nombres} #{usuario.apellidos} 
        p Rol: #{usuario.rol}, ID: #{usuario.usuario_id}
    if coodeudor_por_aprobar.length !== 0
        each peticion in coodeudor_por_aprobar
            section
                h2 #{peticion.nombres} #{peticion.apellidos} ha solicitado su respaldo.
                p El usuario #{peticion.nombres} #{peticion.apellidos} ha solicitado un préstamo por el total de $#{peticion.monto}, y a pedido que usted le avale $#{peticion.monto_avalado}.
                p ¿Está usted de acuerdo?
                    a(href="") Si, estoy de acuerdo.
                    a(href='') No, deseo rechazarlo.

    #resumen_prestamo.tarjeta_resumen
        h2 Cuota mínima de este mes:
        span (por fijar)
    #tarjeta_resumen
        .barra_resumen Capital libre: #{usuario.capital}
        .barra_resumen En deuda: #{usuario.en_deuda}

    section
        #transacciones.section_tarjeta ... cargando ...